In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/tsort_data.csv')
df.head()

   Unnamed: 0             artist                           songName  year
0           0        The Beatles                          Let it Be  1970
1           1        Mungo Jerry                  In the Summertime  1970
2           2      Shocking Blue                              Venus  1970
3           3  Simon & Garfunkel         Bridge Over Troubled Water  1970
4           4         B J Thomas  Raindrops Keep Falling On My Head  1970

In [3]:
df['main_artist'] = ''
df.head()

,Unnamed: 0,artist,songName,year,main_artist
0,0,The Beatles,Let it Be,1970,
1,1,Mungo Jerry,In the Summertime,1970,
2,2,Shocking Blue,Venus,1970,
3,3,Simon & Garfunkel,Bridge Over Troubled Water,1970,
4,4,B J Thomas,Raindrops Keep Falling On My Head,1970,

In [4]:
rows, cols = df.shape
for i in range(rows):
    artists = str(df.iloc[i,0])
    if 'Simon & Garfunkel' == artists:
        main_artist = artists
    elif ', ' in artists:
        main_artist = artists.split(', ')[0]
    elif ' & ' in artists:
        main_artist = artists.split(' & ')[0]
    else:
        main_artist = artists
    df.iloc[i,3] = main_artist

In [5]:
df = df.dropna()
df.shape

(8887, 5)

In [6]:
df.to_csv('data/tsort_data_noNA_w_main_artist.csv')