In [14]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
# Pulled From https://tsort.info/

In [112]:
"http://tsort.info/music/yr" + str(2000) + ".htm"

'http://tsort.info/music/yr2000.htm'

In [125]:
a = [1,2,3]
b = [1,2]
c = [1,2,3,4]
maxLen = max(len(a), len(b), len(c))
if any(len(lst) != maxLen for lst in [a,b,c]):
    [row.extend(['null']*(maxLen - len(row))) for row in [a,b,c]]

In [126]:
a,b,c

([1, 2, 3, 'null'], [1, 2, 'null', 'null'], [1, 2, 3, 4])

In [127]:
all_years = pd.DataFrame() 
for year in range(1970,2019):
    URL = "http://tsort.info/music/yr" + str(year) + ".htm"
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')
    tables = soup.findChildren("table")
    song_table = tables[0]
    rows = song_table.findChildren(['th', 'tr'])
    all_rows = []
    for row in rows:
        cells = row.findChildren('td')
        for cell in cells:
            value = cell.string
            all_rows.append(value)
    relevant = all_rows[all_rows.index("1"):]
    artist = relevant[1::5]
    songName = relevant[2::5]
    year = relevant[3::5]
    maxLen = max(len(artist), len(songName), len(year))
    if any(len(lst) != maxLen for lst in [artist,songName,year]):
        [row.extend(['null']*(maxLen - len(row))) for row in [artist,songName,year]]
    dfdict = {"artist":artist, "songName":songName, "year":year}
    df = pd.DataFrame(dfdict)
    all_years = all_years.append(df)

IndexError: list index out of range

In [129]:
all_years.tail()

,artist,songName,year
208,Japan (Oricon) 1 for 1 week - Oct 2017,98,Antti Tuisku & Boyat
209,Finland 1 for 1 week - Jun 2017,99,Hey! Say! JUMP
210,Japan (Oricon) 1 for 1 week - Jul 2017,100,Mr Children
211,Japan (Oricon) 1 for 1 week - Aug 2017,Comment on the contents of the 'Songs from the...,Subject:
212,None,None,None

In [120]:
all_years.to_csv("tsort_data.csv")

In [91]:
URL = "http://tsort.info/music/yr2000.htm"
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')

In [92]:
tables = soup.findChildren("table")
my_table = tables[0]

In [93]:
rows = my_table.findChildren(['th', 'tr'])

In [113]:
all_rows = []
for row in rows:
    cells = row.findChildren('td')
    for cell in cells:
        value = cell.string
#         print(value)
        all_rows.append(value)

In [99]:
relevant = all_rows[all_rows.index("1"):]

In [100]:
# idx = relevant[0::5]
artist = relevant[1::5]
songName = relevant[2::5]
year = relevant[3::5]

In [102]:
len(year), len(songName), len(artist)

(213, 214, 214)

In [103]:
year.append("nan")

In [104]:
len(year)

214

In [105]:
dfdict = {"artist":artist, "songName":songName, "year":year}

In [106]:
df = pd.DataFrame(dfdict)

In [114]:
df.tail()

           artist                       songName  year
209        Filter                 Take a Picture  2000
210        Eminem                   The Way I Am  2000
211  Donell Jones               U Know What's Up  2000
212      Subject:  Email to Reply To (optional):     Â
213          None                           None   nan